<!-- modal-login.html -->
<div class="modal fade" id="loginModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="loginForm">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel">Login</h5>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="username" class="form-label">Usuário</label>
            <input type="text" class="form-control" id="username" name="username" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Senha</label>
            <input type="password" class="form-control" id="password" name="password" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Entrar</button>
          <button type="button" class="btn btn-secondary" id="registerButton">Registrar</button>
          <button type="button" class="btn btn-info" id="auth0Button">Entrar com 42</button>
        </div>
      </form>
    </div>
  </div>
</div>
